%article.c-dataset-element
  %h3.c-dataset-element--title
    = elem.title
  %dl.u-list-undecorated.c-dataset-element--features
    - if elem.key?(:startDate)
      %dt.c-dataset-element--feature-start
        From: 
      %dd  
        #{elem.start_date.strftime('%e %b %Y')}
    - if elem.key?(:endDate)
      %dt.c-dataset-element--feature-end
        To:
      %dd
        #{elem.end_date.strftime('%e %b %Y')}

  .c-dataset-element--downloads
    %h4.reset-font-style.c-dataset-element--distribution-prompt
      %strong
        Download:
      - elem.distributions.each do |dist|
        %span.c-dataset-element--distribution
          = distribution_link(dist, elem)
