%article.infobox.c-dataset-element__item-content
  %h2
    = elem.title
  %dl.c-dataset-element__features
    - if elem.key?(:startDate) || elem.key?(:endDate)
      - if elem.key?(:startDate)
        %dt.c-dataset-element__feature-start
          From: 
        %dd
          %strong  
            #{elem.start_date.strftime('%e %b %Y')}
      - if elem.key?(:endDate)
        %dt.c-dataset-element__feature-end
          To:
        %dd
          %strong
            #{elem.end_date.strftime('%e %b %Y')}
  %dl.c-dataset-element__distribution
    %dt.c-dataset-element__distribution-prompt
      Download:
    %dd.c-dataset-element__distribution-files
      - elem.distributions.each do |dist|
        %strong
          = distribution_link(dist, elem)
