%article.infobox.c-dataset-element__item-content
  %h2
    = elem.title
  %dl.u-list-undecorated.c-dataset-element__features
    - if elem.key?(:startDate)
      %dt.c-dataset-element__feature-start
        From: 
      %dd  
        #{elem.start_date.strftime('%e %b %Y')}
      %br
    - if elem.key?(:endDate)
      %dt.c-dataset-element__feature-end
        To:
      %dd
        #{elem.end_date.strftime('%e %b %Y')}

  .c-dataset-element__downloads
    %h3.reset-font-style.c-dataset-element__distribution-prompt
      %strong
        Download:
      %br
      - elem.distributions.each do |dist|
        %span.c-dataset-element__distribution
          = distribution_link(dist, elem)
