.layout.layout--main.layout--with-sidebar.js-sticky-container
  .layout__container.layout__container--main
    %aside.layout__sidebar.js-sticky-element{ role: 'complementary' }
      .sidebar
        = render partial: "index_navigation"
    .layout__content.layout__content--main.layout__content--with-header.layout__content--with-sidebar.js-content
      %div
        #block-pagetitle.block-page-title
          %h2
            %span.field.field__title
              Data Catalog
          = render partial: "index_page_content"