<div class="cc_banner-wrapper" id="global-cookie-message">
  <div class="cc_banner cc_container cc_container--open">
    <button class="cc_btn cc_btn_accept_all">
      Accept Cookies
    </button>
    <p class="cc_message">
      FOOD.GOV.UK uses cookies to make the site simpler. 
      <a
        data-cc-if="options.link"
        target="_self"
        class="cc_more_info"
        href="https://food.gov.uk/cookie-policy"
      >
        Find out more about cookies
      </a>
    </p>
  </div>
</div>