<div class="layout">
  <div class="layout__container">
    <div class="layout__content">
      <div id="global-cookie-message">
        <p>The Food Standards Agency uses cookies to improve this site.
          <a href="https://www.food.gov.uk/about-us/data-and-policies/aboutsite/termsandconditions/privacypolicy/cookies">
            Find out more about cookies
          </a>
        </p>
      </div>
    </div>
  </div>
</div>