<div class="layout  hero-wrapper data-dot-food-landing">
  <div class="layout__container">
    <div class="layout__content hero-wrapper__content">
      <div class="hero hero hero--with-content">
        <div class="hero__background hero__background--pattern" style="background-image: url(https://www.food.gov.uk/themes/custom/fsa/src/img/background/pattern.svg)"></div>
          <div class="hero__region">
            <div class="hero__content">
              <h1 class="hero__heading hero__heading--reduced-size">Food Standards Agency Data</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
