.col-wrap
  .c-catalog-preamble.col
    %h1 Food Standards Agency Open Data

.col-wrap
  .col.col--fluid-10.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset.c-featured-dataset--heading
      %h2
        Featured datasets
      %p
        All of our open datasets are available for you to use for free.

.col-wrap
  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %a{ href: "#{Rails.application.routes.url_helpers.cairn_catalog_browser_path}datasets/fsa-10-08a" }
        %img.img-responsive{ src: image_path('datasets/rating-sticker-5.jpg')}
      %h2
        %a{ href: "#{Rails.application.routes.url_helpers.cairn_catalog_browser_path}datasets/fsa-10-08a" }
          FHRS
      %p
        Food hygiene ratings and API.

  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %a{ href: "#coming-soon" }
        %img.img-responsive{ src: image_path('datasets/food-types-image.png')}
      %h2
        %a{href: "#coming-soon"}
          Food types
      %p
        Food type coding and classification register.

  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %a{ href: "#{Rails.application.routes.url_helpers.cairn_catalog_browser_path}datasets/fsa-13-04k" }
        %img.img-responsive{ src: image_path('datasets/bookkeeper.jpg')}
      %h2
        %a{href: "#{Rails.application.routes.url_helpers.cairn_catalog_browser_path}datasets/fsa-13-04k"}
          Expenditure over £25k
      %p
        Financial transactions over £25,000

.col-wrap
  .col
    %h2 Data catalog
