.col-wrap
  .c-catalog-preamble.col
    %h1 Food Standards Agency Open Data

.col-wrap
  .col.col--fluid-10.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset.c-featured-dataset--heading
      %h2
        Featured datasets
      %p
        All of our datasets are available for you to re-use for free.

.col-wrap.separator-dotted
  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      .c-featured-dataset--colour-banner
      %h2
        %a{href: "#todo"}
          Some other dataset
      %p
        Another featured dataset, but this one doesn't have an
        obvious picture.

  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %img.img-responsive{ src: image_path('food-types-image.png')}
      %h2
        %a{href: "#todo"}
          Food types
      %p
        Food type coding and classification register.

  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %img.img-responsive{ src: image_path('rating-sticker-5.jpg')}
      %h2
        %a{ href: "#todo" }
          FHRS
      %p
        Food hygiene ratings and API.

.col-wrap
  .col
    %h2 Data catalog
