.col-wrap
  .c-catalog-preamble.col
    %h1 Food Standards Agency Open Data

.col-wrap
  .col.col--fluid-10.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset.c-featured-dataset--heading
      %h2
        Featured datasets
      %p
        All of our open datasets are available for you to use for free.

.col-wrap
  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %a{ href: "#{Rails.application.config.relative_url_root}/datasets/38dd8d6a-5ab1-4f50-b753-ab33288e3200" }
        %img.img-responsive{ src: image_path('datasets/rating-sticker-5.jpg')}
      %h2
        %a{ href: "#{Rails.application.config.relative_url_root}/datasets/38dd8d6a-5ab1-4f50-b753-ab33288e3200" }
          FHRS
      %p
        Food hygiene ratings and API.

  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %a{ href: "#{Rails.application.config.relative_url_root}/datasets/6b23264c-682f-4a42-8a6c-6403b03b3c5c" }
        %img.img-responsive{ src: image_path('datasets/bookkeeper.jpg')}
      %h2
        %a{href: "#{Rails.application.config.relative_url_root}/datasets/6b23264c-682f-4a42-8a6c-6403b03b3c5c"}
          Expenditure over £25k
      %p
        Financial transactions over £25,000

  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %a{ href: "#coming-soon" }
        %img.img-responsive{ src: image_path('datasets/food-types-image.png')}
      %h2
        %a{href: "#coming-soon"}
          Food types
      %p
        Food type coding and classification register.

.col-wrap
  .col
    %h2 Data catalog
