.col-wrap
  .c-catalog-preamble.col
    %h1 Food Standards Agency Open Data

.col-wrap
  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset.c-featured-dataset--heading
      %h2
        New and featured
      %p
        A short paragraph of copy highlighting new and interesting datasets. Lorem ipsum
        lorem ipsum dolores ist.

  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %img.img-responsive{ src: image_path('food-types-image.png')}
      %h2
        %a{href: "#todo"}
          Food types
      %p
        Food type coding and classification register.

  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %img.img-responsive{ src: image_path('rating-sticker-5.jpg')}
      %h2
        %a{ href: "#todo" }
          FHRS
      %p
        Food hygiene ratings and API.

.col-wrap
  .col
    %h2 Data catalog
    %p
      This is a development version of the data.food.gov.uk data catalog browser for early-phase testing. Note that the datasets are from an early development preview of the data, and are subject to change. Testing should focus on usability, functionality and style etc. From this preview you can see what descriptions of the data will look like, and may want to consider how datasets should be described in the live system.
