<div id="global-cookie-message">
  <p>The Food Standards Agency uses cookies to improve this site. <a href="/cookies">Find out more about cookies</a></p>
</div>

<header>
    <!--logo-->
    <div class="wrapper wrapper--header">
      <nav class="header wrapper col-wrap">
          <div class="col col--fluid-4 main-logo" >
              <a href="#">
                  <img src="<%= image_path 'logo.png' %>"
                       alt="Food Standards Agency">
              </a>
          </div>
          <div class="col col--fluid-8">
          </div>
          <nav class="language-nav col col--fluid-3 margin-top-xs--4">
              <ul class="language-nav__list">
                  <li class="language-nav__item">English</li>
                  <li class="language-nav__item">
                      <span class="u-disabled">
                        <a class="language-nav__link" href="#">Welsh</a>
                      </span>
                  </li>
              </ul>
          </nav>
      </nav>
</header>

