<div id="global-cookie-message">
  <p>The Food Standards Agency uses cookies to improve this site. <a href="/cookies">Find out more about cookies</a></p>
</div>

<header>
  <!--logo-->
  <div class="wrapper wrapper--header">
    <nav class="header wrapper col-wrap">
      <div class="col col--fluid-4 main-logo" >
        <a href="https://food.gov.uk">
          <img src="<%= image_path 'logo.png' %>"
               alt="Food Standards Agency">
        </a>
      </div>
      <div class="col col--fluid-11">
        <div class="c-phase-banner">
          <strong class="c-phase-banner--badge">alpha</strong>
          <span>
            This is a new service – your
            <%= link_to('feedback', "#{Rails.application.config.relative_url_root}/feedback")%>
            will help us to improve it.</span>
        </div>
      </div>
    </nav>
  </div>
</header>

