<header>
  <!--logo-->
  <div class="wrapper wrapper--header">
    <nav class="header wrapper col-wrap">
      <div class="col col--fluid-4 main-logo" >
        <a href="https://www.food.gov.uk">
          <img src="<%= image_path 'logo.png' %>"
               alt="Food Standards Agency">
        </a>
      </div>
      <div class="col col--fluid-11">
      </div>
    </nav>
  </div>
</header>
