<footer>
    <!--anything wrong with this page button-->
    <div class="wrapper footer wrong">
        <div class="col-wrap">
            <!--button-->
            <div class="col col--fluid-offset-5 col--fluid-5 margin-top--6">
                <button class="btn btn--secondary margin-top--double margin-left margin-bottom" style="color: #53565A">
                    Comment on this page
                </button>
            </div>
        </div>
    </div>

    <div class="wrapper footer--menu">
        <div class="col-wrap">
            <div class="col col--fluid-15 margin-bottom--2">
                <div class="separator-dotted"></div>
            </div>
        </div>
    </div>

    <div class="wrapper footer">
        <div class="col-wrap">
            <!--footer-->
            <div class="col col--fluid-15">
                <nav class="secondary-nav">
                    <ul class="footer-no-style__list">
                        <li class="font-size--small font-size--bold"><a>Copyright</a></li>
                        <li class="font-size--small font-size--bold"><a>Get Alerts</a></li>
                        <li class="font-size--small font-size--bold"><a>Help</a></li>
                        <li class="font-size--small font-size--bold"><a>Site Map</a></li>
                        <li class="font-size--small font-size--bold"><a>Accesibility</a></li>
                        <li class="font-size--small font-size--bold"><a>Complaints and Comments</a></li>
                        <li class="font-size--small font-size--bold"><a>Feedback</a></li>
                        <li class="font-size--small font-size--bold"><a>Freedom of information</a></li>
                        <li class="font-size--small font-size--bold"><a>Privacy</a></li>
                        <li class="font-size--small font-size--bold"><a>Cookies</a></li>
                        <li class="font-size--small font-size--bold"><a>Terms and conditions</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
