<header>
    <!--logo-->
    <div class="wrapper wrapper--header">
        <nav class="header wrapper col-wrap">
            <div class="col col--fluid-4 main-logo" >
                <a href="#">
                    <img src="<%= image_path 'logo.png' %>"
                         alt="Food Standards Agency">
                </a>
            </div>
            <div class="col col--fluid-7">
                <div class="col-wrap">
                </div>
            </div>
            <nav class="language-nav col col--fluid-4 margin-top-xs--4">
                <ul class="language-nav__list">
                    <li class="language-nav__item">English</li>
                    <li class="language-nav__item">
                        <span class="u-disabled">
                          <a class="language-nav__link" href="#">Welsh</a>
                        </span>
                    </li>
                </ul>
            </nav>
        </nav>
    </div>
</header>
