<div class="layout topbar-wrapper">
    <div class="layout__container">
      <div class="layout__content">
        <div class="header__topbar">
          <div class="phase-banner">
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <%= link_to('feedback', "#{Rails.application.config.relative_url_root}/feedback")%> will help us to improve it.</span>
          </div>
        </div>
      </div>
    </div>
  </div>