<div class="wrapper content">
<div class="col-wrap">
  <div class="col">
    <div class="c-phase-banner">
      <strong class="c-phase-banner--badge">alpha</strong>
      <span>
        This is a new service – your
        <%= link_to('feedback', "#{Rails.application.config.relative_url_root}/feedback")%>
        will help us to improve it.</span>
    </div>
  </div>
</div>
</div>
