.o-dataset-keyword__filter {
  display: inline-block;
  margin: 0 0.1rem 0.5rem 0;
  font-size: 1.1rem;
  letter-spacing: 0.055em;
  line-height: 1.7rem;

  &--selectable,
  &--selected {
    box-sizing: border-box;
    display: block;
    padding: 0.1rem 0.5rem;
    background-color: inherit;
    text-decoration: underline;

    /* start transition effects */
    background-image:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 50%,
        var(--darker-primary-color) 50%,
        var(--darker-primary-color) 100%
      );
    background-size: 100% 200%;
    background-repeat: no-repeat;
    transition: all linear 0.1s;
  }

  &--selectable:hover,
  &--selectable:focus-within,
  &--selectable:focus {
    background-position-y: 100%;
    color: white;
  }

  /* end transition effects */

  &--selected {
    padding: -0.1rem -0.8rem;
    color: var(--color-white);
    text-decoration: none;
    background: var(--darker-primary-color);
  }
}
