@import "fsastyles/helper/custom-property.css";

.c-dataset-element__item {
  padding-bottom: 0.5rem;

  &-content {
    background: #fff;
    width: 100%;
  }

  .c-dataset-element__features {
    display: flex;
    flex-flow: row;

    & > * {
      display: flex;
      justify-content: space-evenly;
    }

    dt,
    dl,
    dd {
      margin: 0;
      margin-right: 0.5em;
    }

    & > dt:last-of-type {
      margin-left: auto;
    }
  }
}
