.data-dot-food-landing .hero__background.hero__background--pattern {
  background-image: url('/catalog/themes/custom/fsa/src/img/background/pattern.svg');
}

.data-dot-food-landing .hero .hero__background {
  background-color: var(--colour-medium-blue);
}

.promo__content {
  background-color: white;
}

#featured-datasets-heading {
  background-image: none;
}