/* Utilities */

.u-list-undecorated {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.u-list-inline li {
  display: inline-block;
  margin: 0;
}

.u-sr-only {
  display:none;
}

.u-disabled {
  cursor: not-allowed;
  a {
    pointer-events: none;
  }
}

.u-text-centre {
  text-align: center;
}

.u-no-wrap {
  white-space: nowrap;
}

.u-list-no-style {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }
}

/* FSA Missing Style */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.o-datasets-nav--reset-filter {
  float: right;
}

.form-group + .form-group, .navigation-side > * + * {
  margin-top: 1em;
}

.c-prompt-explanation {
  position: relative;
  text-transform: none;
  font-weight: normal;
  color: color(black lightness(60%));
}

.c-dataset-element{

  display: flex;
  flex-direction: column;
  justify-items: stretch;
  &--group {
    display: flex;
    flex-wrap: wrap;
  }
  
  &--container {
    flex-basis: 100%;
    padding: 0 1.5%;
    margin-bottom: 1em;

    @media (--breakpoint-sm) {
      flex-basis: 50%;
    }

    @media (--breakpoint-md) {
      flex-basis: 25%;
    }
  }
}