.c-dataset-entry {
  padding: 0;
  border-bottom: 1px dotted #999;

  &--title {
    @extend .font-size--h4;
  }
}

.c-dataset-catalogue--list {
  @extend .u-list-undecorated;
}

.c-dataset-keywords {
  @extend .u-list-undecorated;
  @extend .u-list-inline;
}

.c-dataset-list {
  padding: 0;
  margin-left: 0;
}

.c-dataset-entry {
  list-style: none;
}

.o-dataset-keyword {
  @extend .tags;
  padding-left: 10px;
  padding-right: 10px;
}

.c-catalogue-entry-wrap {
  @extend .col-wrap;
}

.c-catalogue-entry {
  .c-dataset-keywords {
    margin: 0;
  }

  .c-catalogue-entry--heading {
    @extend .col;
  }

  .c-catalogue-entry--metadata {
    @extend .col;
    @extend .col--fluid-two-thirds;
  }

  .c-catalogue-entry--description {
    @extend .col;
    @extend .col--fluid-two-thirds;
  }

  .c-catalogue-entry--table {
    @extend .table;
  }

  .c-catalogue-entry--metadata {
    @extend .col;
  }
}

.c-catalogue-entry-downloads-wrap {
  @extend .col-wrap;
}

.c-catalogue-entry--downloads {
  .c-dataset-element--container {
    @extend .col;
    @extend .col--fluid-one-quarter;
    @extend .home-news-tile;
    @extend .separator-right-solid;
  }

  .c-dataset-element {
    @extend .separator-dotted;
    margin-bottom: 0.4em;
  }

  .c-dataset-element--title {
    font-size: 16px;
    line-height: 18px;
    background-color: #007FB2;
    color: white;
    padding: 5px;
    margin: 0;
  }

  .c-dataset-element--features {
    font-size: 15px;
    line-height: 16px;
    margin-top: 0.4em;
  }

  .c-dataset-element--downloads {
    margin: 0.4em 0 0 0;
    padding: 0;
  }

  .c-dataset-element--distribution {
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 15px;
    display: inline-block;
  }
  .c-dataset-element--distribution-prompt {
    @extend .c-dataset-element--distribution;
    font-weight: 600;
  }
}

/* Utilities */

.u-list-undecorated {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.u-list-inline li {
  display: inline-block;
  margin: 0;
}

.u-sr-only {
  display:none;
}
