.c-dataset-entry {
  padding: 0;
  border-bottom: 1px dotted #999;

  &--title {
    @extend .font-size--h5;
    line-height: 24px;
  }
}

.c-dataset-catalogue--list {
  @extend .u-list-undecorated;
}

.c-dataset-keywords {
  @extend .u-list-undecorated;
  @extend .u-list-inline;
}

.c-dataset-list {
  padding: 0;
  margin-left: 0;
}

.c-dataset-entry {
  list-style: none;
}

.o-dataset-keyword {
  .o-dataset-keyword--filter {
    @extend .tags;
  }

  span.o-dataset-keyword--filter__selected {
    font-weight: bold;
    color: #444;
    border-bottom: none;
  }

  margin: 0;
  padding: 0;
}

.c-catalogue-entry-wrap {
  @extend .col-wrap;
}

.c-catalogue-entry {
  .c-dataset-keywords {
    margin: 0;
  }

  .c-catalogue-entry--heading {
    @extend .col;
  }

  .c-catalogue-entry--metadata {
    @extend .col;
    @extend .col--fluid-two-thirds;
  }

  .c-catalogue-entry--description {
    @extend .col;
    @extend .col--fluid-two-thirds;
  }

  .c-catalogue-entry--table {
    @extend .table;
  }

  .c-catalogue-entry--metadata {
    @extend .col;
  }
}

.c-prompt-explanation {
  font-weight: 300;
  color: #666;
  font-style: normal;
}

.c-navigation-search {
  @extend .btn;

  background-color: $mid-green;
  color: $white;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 40px;
  width: 100%;

  &::after {
    content: "\f002";
    font-family: FontAwesome;
  }
}

.o-datasets-nav {
  padding-bottom: 2em;
  @extend .separator-dotted;

  h4 {
    font-weight: normal;
    margin: 0;
    font-size: inherit;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.o-datasets-nav--keywords {
}

li.c-dataset-nav-year {
  display: inline-block;
  margin: 0;
  padding: 0;

  input {
    display: inline-block;
  }
}

li.c-dataset-nav-keyword {
  margin: 0 20px 0 0;
  padding: 0;
}

.o-datasets-nav--reset-filter {
  display: inline-block;
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: $very-light-grey;
  text-align: center;

  a {
    text-decoration: none;
    border-bottom: none;
  }
}

/* Utilities */

.u-list-undecorated {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.u-list-inline li {
  display: inline-block;
  margin: 0;
}

.u-sr-only {
  display:none;
}

.u-disabled {
  cursor: not-allowed;
  a {
    pointer-events: none;
  }
}
