$light-blue-25: #d5e8f3;

.js #global-cookie-message {
  display: none; /* shown with JS, always on for non-JS */
}

#global-cookie-message {
  width: 100%;
  background-color: $light-blue-25;
  padding-top: 10px;
  padding-bottom: 10px;

  p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: underline;
    border-bottom: none;
  }
}
