// Customising the styles from the Kaminari gem to match FSA pattern lib

.c-paginator {
  margin: 0 auto;
}

.c-paginator--list {
  @extend .paginate;
  margin-left: 0;
  padding-left: 0;
}

.c-paginator--next {
  @extend .nude;
}

.c-paginator--prev {
  @extend .nude;
}

.c-paginator--page__current {
  @extend .current;
}

.c-paginator--end-marker {
  display: block;
  float: left;
  font-weight: normal;
  color: #444;
  padding: 0;
  margin: 9px 18px;
  background: $white;
  border-radius: 0%;
  font-weight: 300;
}

.o-results-summary {
  margin-top: 35px;
  font-weight: 300;

  .o-results-summary--counts{
  }
}
